.header__bottom{
  background: $scooter;
  margin-bottom: 35px;
}
.top-menu{
  li{
    list-style: none;
    color: $white;
    a{
      color: $white;
      display: block;
      height: 45px;
      padding: 0 15px;
      line-height: 45px;
      &:hover{
        text-decoration: none;
        background: darken($scooter, 10%);
      }
    }
  }
  ul{
    display: flex;
    flex-wrap: wrap;
  }
}
.header__top{
  padding: 15px 0;
}
.header__logo{
  font-size: 20px;
  font-weight: $bold;
  a{
    &:hover{
      text-decoration: none;
      color: $base;
    }
  }
}
@media screen and (max-width: 767px){
  .top-menu__mob-button{
    position: absolute;
    width: 25px;
    right: 0;
    top: 22px;
    span{
      display: block;
      background: $white;
      height: 3px;
      position: relative;
      &:before,
      &:after{
        content: "";
        display: block;
        height: 3px;
        background: $white;
        left: 0;
        position: absolute;
        width: 100%;
      }
      &:before{
        top: -6px;
      }
      &:after{
        bottom: -6px;
      }
    }
  }
  .top-menu{
    position: relative;
    padding-top: 45px;
    li{
      width: 100%;
    }
    ul{
      display: none;
    }
    &.showMenu{
      ul{
        display: flex;
      }
    }
  }
}