*, *:before, *:after{
  box-sizing: border-box;
}
body{
  background: $bg-base;
  font: $regular $f-size $f-stack;
  line-height: 1.4;
  color: $base;
}
ul, ol{
  padding: 0;
  margin: 0;
}
a{
  outline: none;
  color: $link;
  transition: all .3s;
  text-decoration: none;
  &:hover, &:focus{
    outline: none;
  }
  &:hover{
    text-decoration: underline;
  }
}
img{
  max-width: 100%;
  height: auto;
}
body, html{
  height: 100%;
}
.globwrap{
  min-height: 100%;
}
p{
  margin: 0 0 10px 0;
}
table{
  width: 100%;
}
.table{
  td, th{
    padding: 7px;
  }
}
.bgimg {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.bgimgcont{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.dib {
  display: inline-block;
  vertical-align: top;
}
.d-table{
  display: table;
  width: 100%;
}
.d-cell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.slick-slide{
  outline: none;
  img{
    display: inline-block;
  }
}
.contenttab{
  display: none;
  &.activetab{
    display: block;
  }
}
.opacity-0{
  opacity: 0;
}
.opacity-1{
  opacity: 1;
}
.wrap{
  max-width: $contentWidth;
  margin: 0 auto;
  position: relative;
}
.hidden{
  display: none;
}
h1, h2, h3, h4, h5, h6{
  margin-top: 0;
  font-weight: $bold;
}
h1{
  font-size: 26px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
h2{
  font-size: 22px;
  margin-bottom: 15px;
}
h3{
  font-size: 20px;
  margin-bottom: 15px;
}
h4{
  margin-bottom: 15px;
}
.modal_active {
  overflow: hidden;
}

.mod-forex{
  li{
    list-style: none;
  }
  ul{
    margin-bottom: 15px;
  }
}
main{
  padding-bottom: 50px;
}
.mod-forex__code{
  font-weight: $bold;
  padding-right: 10px;
}
.mod-forex__item{
  padding-left: 30px;
  position: relative;
  &:before{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: -2px;
  }
}
.mod-forex_m_flag_USDEUR{
  &:before{
    background: url("/assets/images/countries/euro.png");
  }
}
//.mod-forex_m_flag_USDGBP{
//  &:before{
//    background: url("assets/images/countries/britain.png");
//  }
//}
//.mod-forex_m_flag_USDCHF{
//  &:before{
//    background: url("assets/images/countries/switzerland.png");
//  }
//
//}
//.mod-forex_m_flag_USDJPY{
//  &:before{
//    background: url("../images/countries/japan.png");
//  }
//
//}
//.mod-forex_m_flag_USDPLN{
//  &:before{
//    background: url("../images/countries/poland.png");
//  }
//
//}
//.mod-forex_m_flag_USDCNY{
//  &:before{
//    background: url("../images/countries/china.png");
//  }
//
//}
//.mod-forex_m_flag_USDRUB{
//  &:before{
//    background: url("../images/countries/russian.png");
//  }
//}
.form-group{
  margin-bottom: 15px;
}
select,
input[type="text"],
input[type="number"],
textarea{
  width: 100%;
}
@media screen and (max-width: 767px){
  h1, h2{
    font-size: 20px;
  }
}